<div class="col-4 right-sec mx-4 p-3">
  <div class="rate-price">
      <span>700</span>
      <span>₹12,800</span>
      <span></span>
      <span class="discount-rate">95% off</span>
  </div>
  <div class="incentives">
      <div class="clp-component-render">
          <div>
              <span id="incentives" class="in-page-offset-anchor"></span>
              <b>Includes</b>
          </div>
          <ul>
              <li class="incentives__item">
                  <i class="incentives__icon incentives__icon--bold udi udi-video-design"></i>
                  <span class="incentives__text" data-purpose="video-content-length">
                      46 hours on-demand video
                  </span>
              </li>
              <li class="incentives__item">
                  <i class="incentives__icon udi udi-file-o"></i>
                  <span class="incentives__text">
                      72 articles
                  </span>
              </li>
              <li class="incentives__item">
                  <i class="incentives__icon udi udi-file-text-o"></i>
                  <span class="incentives__text">
                      85 downloadable resources
                  </span>
              </li>
              <li class="incentives__item">
                  <i class="incentives__icon incentives__icon--bold udi udi-what-lifetime"></i>
                  <span class="incentives__text" data-purpose="incentive-lifetime-access">
                      Full lifetime access
                  </span>
              </li>
              <li class="incentives__item">
                  <i class="incentives__icon incentives__icon--bold udi udi-mobile-apps"></i>
                  <span class="incentives__text">
                      Access on mobile and TV
                  </span>
              </li>
          </ul>
      </div>
      <div class="clp-component-render">
          <ul>
              <li class="incentives__item">
                  <i class="incentives__icon incentives__icon--bold udi udi-academics"></i>
                  <span class="incentives__text" data-purpose="incentive-certificate">
                      Certificate of Completion
                  </span>
              </li>
          </ul>
      </div>
  </div>
</div>