<div class="container table-conatiner">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive table-striped">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Languages</th>
                            <th>Population</th>
                            <th>Median Age</th>
                            <th>Area (Km²)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of tableRows">
                            <td>{{row.country}}</td>
                            <td>{{row.language}}</td>
                            <td>{{row.population}}</td>
                            <td>{{row.medianAge}}</td>
                            <td>{{row.area}}</td>
                        </tr>
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</div>