<div class="feature  mt-3">
  <h4> Featured review</h4>
  <div class="bg-color">
      <div class="p-3">
          <div data-purpose="featured-review-avatar">
              <img alt="Weslei Rodrigues Branco" aria-label="Weslei Rodrigues Branco" class="user-avatar user-avatar--image" src="https://udemy-images.udemy.com/user/50x50/22224060_c132_2.jpg"
                  width="48">
          </div>
          <div class="featured-review__reviewer">
              <span class="featured-review__user-title" data-purpose="featured-review-user-title">
                  Weslei Rodrigues Branco
              </span>
              ( 25 courses, 1 review )
              <div class="feature-review__rating">
                  <p _ngcontent-c3="" class="rating mb-2">
                      <span _ngcontent-c3="" class="fa fa-star checked"></span>
                      <span _ngcontent-c3="" class="fa fa-star checked"></span>
                      <span _ngcontent-c3="" class="fa fa-star checked"></span>
                      <span _ngcontent-c3="" class="fa fa-star"></span>
                      <span _ngcontent-c3="" class="fa fa-star"></span>
                  </p>
              </div>
              <div data-purpose="featured-review-created">
                  3 months ago
              </div>
              <p>It was a fun course; very straight forward, not so complicated in a way even complete beginners
                  could understand it, I guess. It needs some updates, maybe some new videos would do it
                  real good. I had some knowledge in html/css/javascript - it was great to learn some mongodb
                  and node; even though it doesn't dive that deep, it gives you enough information so you
                  can start doing stuff and know what to search in case you need to go further.</p>
          </div>
      </div>

  </div>
</div>