<div class="full-width">
    <div class="container">
        <section class="pt-5 pb-5">
            <div class="wrapper">
                <div class="content-wrapper">
                    <div class="title-wrap">
                        <h2>Introduction to Native Cloud Application Architecture</h2>
                    </div>
                    <div class="clp-lead__headline">
                        The only course you need to learn web development - HTML, CSS, JS, Node, and More!
                    </div>
                    <ul class="pt-2 flex">
                        <app-star-rating [starRating]="4"></app-star-rating>
                        <li>
                            <span class="tooltip-container">
                                <span aria-label="Rating: 4.6 out of 5" id="rate-count-value--8c8669e4">4.6</span>
                                (101,953 ratings)
                                <span class="tooltip tooltip-neutral tooltip--rate-count">
                                    <div class="tooltip-inner">
                                        Course Ratings are calculated from individual students’ ratings and a variety of other signals, like age of rating and reliability,
                                        to ensure that they reflect course quality fairly and accurately.
                                    </div>
                                </span>
                            </span>
                        </li>
                        <li>366,346 students enrolled</li>
                    </ul>
                    <ul class="flex">
                        <li>
                            <span class="instructor">created by
                                <strong>Linjith Kunnon</strong>
                            </span>
                        </li>
                        <li>
                            <span class="last-update">Last updated 12/2018</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>