<div class="bg-color">
  <div class="content-title">
      What you'll learn
  </div>
  <div class="col-12 flex">
      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>
      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>
  </div>
  <div class="col-12 flex">
      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>

      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>
  </div>
  <div class="col-12 flex">
      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>

      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>
  </div>
  <div class="col-12 flex">
      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>

      <div class="col-6 content-list-item content-columns">
          <span class="udi udi-check what-you-get__icon"></span>
          <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
      </div>
  </div>
  <span class="js-wrapper-simple-collapse-more-btn">
      <button class="js-simple-collapse-more-btn btn-sm btn btn-link">See more</button>
  </span>

</div>