<div class="requirements mt-3">
  <div class="requirements__title">
      <h4> Requirements</h4>
  </div>
  <div class="requirements__content">
      <ul class="requirements__list">
          <li class="requirements__item">Have a computer with Internet</li>

          <li class="requirements__item">Be ready to learn an insane amount of awesome stuff</li>

          <li class="requirements__item">Prepare to build real web apps!</li>

          <li class="requirements__item">Brace yourself for stupid jokes about my dog Rusty</li>
      </ul>
  </div>
</div>