<!-- course details -->
<main>
    <!-- Topic menu -->
    <!-- <nav class="topic-menu--topic-menu__items--1GQFa container pt-2 pb-2">
        <ul class="flex">
            <li data-purpose="topic-menu-item" class="topic-menu--topic-menu__item--1uxK-">
                <a class="topic-menu--topic-menu__link--2X1Eq" href="/courses/development/">Development</a>
            </li>
            <li data-purpose="topic-menu-item" class="topic-menu--topic-menu__item--1uxK-">
                <a class="topic-menu--topic-menu__link--2X1Eq" href="/courses/development/web-development/">Web
                    Development</a>
            </li>
        </ul>
    </nav> -->
    <!-- Intro application architech -->
    <app-course-details-header></app-course-details-header>
    <!-- section -->
    <section class="container pt-5">
        <div class="col-12 flex">
            <div class="col-8 left-sec">
                <app-course-contents></app-course-contents>
                <app-course-requirements></app-course-requirements>
                <app-course-reviews></app-course-reviews>
            </div>
            <!-- right-section -->
            <app-course-rate-card></app-course-rate-card>
        </div>
    </section>
</main>