<!-- course details -->
<main>
    <!-- Topic menu -->
    <nav class="topic-menu--topic-menu__items--1GQFa container pt-2 pb-2">
        <ul class="flex">
            <li data-purpose="topic-menu-item" class="topic-menu--topic-menu__item--1uxK-">
                <a class="topic-menu--topic-menu__link--2X1Eq" href="/courses/development/">Development</a>
            </li>
            <li data-purpose="topic-menu-item" class="topic-menu--topic-menu__item--1uxK-">
                <a class="topic-menu--topic-menu__link--2X1Eq" href="/courses/development/web-development/">Web
                    Development</a>
            </li>
        </ul>
    </nav>
    <!-- Intro application architech -->
    <div class="full-width">
        <div class="container">
            <section class="pt-5 pb-5">
                <div class="wrapper">
                    <div class="content-wrapper">
                        <div class="title-wrap">
                            <h2>Introduction to Native Cloud Application Architecture</h2>
                        </div>
                        <div class="clp-lead__headline">
                            The only course you need to learn web development - HTML, CSS, JS, Node, and More!
                        </div>
                        <ul class="pt-2 flex">
                            <li>
                                <p class="rating mb-2">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    {{tileData.rating}}
                                </p>
                            </li>
                            <li><span class="tooltip-container">
                                    <span aria-label="Rating: 4.6 out of 5" id="rate-count-value--8c8669e4">4.6</span>
                                    (101,953 ratings)
                                    <span class="tooltip tooltip-neutral tooltip--rate-count">
                                        <div class="tooltip-inner">
                                            Course Ratings are calculated from individual students’ ratings and a
                                            variety of
                                            other signals, like age of rating and reliability, to ensure that they
                                            reflect
                                            course quality fairly and accurately.
                                        </div>
                                    </span>
                                </span>
                            </li>
                            <li>update date 2018</li>
                            <li>366,346 students enrolled</li>
                        </ul>
                        <ul class="flex">
                            <li><span class="instructor">create by <strong>Linjith Kunnon</strong></span></li>
                            <li><span class="last-update"> update date 2018</span></li>
                            <li><span class=""> English</span></li>
                            <li><span class=""> English, Dutch,<a href=""> 9 more</a></span></li>
                            <!-- <span class="instructor" *ngFor="let instructor of tileData.instructors">{{instructor}}</span> -->
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- section -->
    <section class="container pt-5">
        <div class="col-12 flex">
            <div class="col-8 left-sec">
                <div class="bg-color">
                    <div class="content-title">
                        What you'll learn
                    </div>
                    <div class="col-12 flex">
                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>
                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>
                    </div>
                    <div class="col-12 flex">
                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>

                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>
                    </div>
                    <div class="col-12 flex">
                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>

                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>
                    </div>
                    <div class="col-12 flex">
                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>

                        <div class="col-6 content-list-item content-columns">
                            <span class="udi udi-check what-you-get__icon"></span>
                            <span class="what-you-get__text">Make REAL web applications using cutting-edge technologies</span>
                        </div>
                    </div>
                    <span class="js-wrapper-simple-collapse-more-btn">
                        <button class="js-simple-collapse-more-btn btn-sm btn btn-link">See more</button>
                    </span>

                </div>
                
                      <div class="requirements mt-3">
                            <div class="requirements__title">
                               <h4> Requirements</h4>
                            </div>
                            <div class="requirements__content">
                                <ul class="requirements__list">                                    
                                        <li class="requirements__item">Have a computer with Internet</li>
                                    
                                        <li class="requirements__item">Be ready to learn an insane amount of awesome stuff</li>
                                    
                                        <li class="requirements__item">Prepare to build real web apps!</li>
                                    
                                        <li class="requirements__item">Brace yourself for stupid jokes about my dog Rusty</li>                                    
                                </ul>
                            </div>
                        </div> 
                        <div class="feature  mt-3">
                                <h4> Featured review</h4>
                                <div class="bg-color">
                                        <div class="p-3">                
                                            <div data-purpose="featured-review-avatar"> 
                                                <img alt="Weslei Rodrigues Branco" aria-label="Weslei Rodrigues Branco" class="user-avatar user-avatar--image"src="https://udemy-images.udemy.com/user/50x50/22224060_c132_2.jpg" width="48">
                                            </div>                                            
                                            <div class="featured-review__reviewer">
                                                <span class="featured-review__user-title" data-purpose="featured-review-user-title">
                                                    Weslei Rodrigues Branco
                                                </span>
                                                (
                                                25 courses,
                                                1 review
                                                )
                                                <div class="feature-review__rating">
                                                        <p _ngcontent-c3="" class="rating mb-2"><span _ngcontent-c3="" class="fa fa-star checked"></span><span _ngcontent-c3="" class="fa fa-star checked"></span><span _ngcontent-c3="" class="fa fa-star checked"></span><span _ngcontent-c3="" class="fa fa-star"></span><span _ngcontent-c3="" class="fa fa-star"></span> </p>
                                                </div>
                                                <div data-purpose="featured-review-created">
                                                   3 months ago
                                                </div>
                                                <p>It was a fun course; very straight forward, not so complicated in a way even complete beginners could understand it, I guess. It needs some updates, maybe some new videos would do it real good. I had some knowledge in html/css/javascript - it was great to learn some mongodb and node; even though it doesn't dive that deep, it gives you enough information so you can start doing stuff and know what to search in case you need to go further.</p>
                                            </div>
                                        </div>
                                        
                                </div>
                        </div>                   
                   
            </div>       
            <!-- right-section -->
            <div class="col-4 right-sec mx-4 p-3">
                <div class="rate-price">
                    <span>700</span><span>₹12,800</span><span></span><span class="discount-rate">95% off</span>
                </div>
                <div class="incentives">
                    <div class="clp-component-render">
                        <div>
                            <span id="incentives" class="in-page-offset-anchor"></span>
                            <b>Includes</b>
                        </div>
                        <ul>
                            <li class="incentives__item">
                                <i class="incentives__icon incentives__icon--bold udi udi-video-design"></i>
                                <span class="incentives__text" data-purpose="video-content-length">
                                    46 hours on-demand video
                                </span>
                            </li>
                            <li class="incentives__item">
                                <i class="incentives__icon udi udi-file-o"></i>
                                <span class="incentives__text">
                                    72 articles
                                </span>
                            </li>
                            <li class="incentives__item">
                                <i class="incentives__icon udi udi-file-text-o"></i>
                                <span class="incentives__text">
                                    85 downloadable resources
                                </span>
                            </li>
                            <li class="incentives__item">
                                <i class="incentives__icon incentives__icon--bold udi udi-what-lifetime"></i>
                                <span class="incentives__text" data-purpose="incentive-lifetime-access">
                                    Full lifetime access
                                </span>
                            </li>
                            <li class="incentives__item">
                                <i class="incentives__icon incentives__icon--bold udi udi-mobile-apps"></i>
                                <span class="incentives__text">
                                    Access on mobile and TV
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="clp-component-render">
                        <ul>
                            <li class="incentives__item">
                                <i class="incentives__icon incentives__icon--bold udi udi-academics"></i>
                                <span class="incentives__text" data-purpose="incentive-certificate">
                                    Certificate of Completion
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>


</main>